/* App.js */
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div > div,
form {
  flex-direction: column;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

div.meal-card {
  width: 500px;
}

div > div > h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

div > div > p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

a {
  display: block;
  margin-top: 1rem;
}

footer {
  font-size: 0.8rem;
  margin-top: 2rem;
}

/* Meal.js */
div > input {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

form > p {
  font-size: 1rem;
}

form > label {
  display: block;
  margin-bottom: 0.5rem;
}

form > input[type="text"],
form > input[type="email"],
form > input[type="tel"],
form > input[type="number"],
form > textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

form > button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

form > button[type="submit"]:hover {
  background-color: #0069d9;
  cursor: pointer;
}

form > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* MealList.js */
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #c11e39;
  border-radius: 50px;
}

div > a {
  background-color: #007bff;
  border: 1px solid #ddd;
  color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
}

div > a:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #0069d9;
  cursor: pointer;
}
